/* Reset some default styles */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

/* hide tab content by default */
.tabcontent {
  display: none;
  text-align: center;
}

/* display home tab content by default */
#home {
  display: block; 
}

/* header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center; /* Align text in the center */
}

h1 {
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Main menu styles */
main {
  padding: 20px;
  text-align: center; 
}

@media screen and (max-width: 768px) {
  /* Adjustments for smaller screens */
  .tabcontent {
    max-width: 90%; /* Adjust width for smaller screens */
    margin: 10px auto; /* Change margins for centering */
    padding: 10px; /* Decrease padding for smaller screens */
  }
}

section {
  margin-bottom: 40px;
  display: inline-block;
  text-align: left; 
  padding: 20px;
  border: 1px solid #ccc;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
}
